nav {

    display: flex;

    gap: 20px;

    padding: 16px 24px;

    background-color:rgb(80, 52, 52);
}

nav a {

    color: white;

    text-decoration: none;

    font-weight: 500;
}

nav a:hover {

    text-decoration: underline;
}

.product-card {

    background-color:rgb(223, 188, 158);
}